Source: kala-timeserver
Section: net
Priority: optional
Maintainer: Seth <seth@raspberrypi>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/seth/kala-timeserver

Package: kala-timeserver
Architecture: all
Depends: ${misc:Depends}, chrony
Description: NTP time server configuration for Raspberry Pi
 Configures a Raspberry Pi as a network time server using chrony.
 This package sets up chrony to serve time to local network clients
 while synchronizing with reliable upstream NTP sources.